ion-title{
    font-size:15px;
    background: black;
    color: white;
}

ion-card{
    height:105px;
    width:auto;
    border:1px solid black;
    font-size:15px;
    font-style: Times New Roman;

}

ion-img{
height:auto;
width: 50%;
float: right;

}
ion-card-content ion-card-title{
    font-size:15px;
}
